<div class="content">
  <div class="sheet">
    <div class="form_container">
      <h3> Create Tutorial </h3>
      <form action = "/form" method = "post">
         {{#if errors}}

            {{#each errors}}
              <p class="error_message">{{this.msg}}</p>
            {{/each}}

         {{/if}}
        <p class="label"> Tutorial Title </p>
        <input type="text" name="tutorial[title]" placeholder = "Insert title">
        <p class="label"> Embed Demo Link </p>
        <input type="text" name="tutorial[demoLink]" placeholder = "Embed code from Codepen or JSfiddle">
        <p class="label"> Description Of Code </p>
        <textarea class="description" name="tutorial[comment]" placeholder = "Write a description of what your code does"></textarea>
        <p class="label"> HTML </p>
        <textarea name="tutorial[htmlCode]" placeholder = "Insert HTML code"></textarea>
        <p class="label"> CSS </p>
        <textarea name="tutorial[cssCode]" placeholder = "Insert CSS code"></textarea>
        <p class="label"> JavaScript </p>
        <textarea name="tutorial[jsCode]" placeholder = "Insert JavaScript code"></textarea>
        <button type="submit"> Create! </button>
      </form>
    </div>
  </div>
</div>
