<div class="content">
  <div class="sheet">
    <h3> Create Tutorial </h3>
    <form action = "/tutorials-show" method = "post">
      <input type="text" name="tutorial[title]" placeholder = "tutorial title">
      <textarea name="tutorial[htmlCode]" placeholder = "tutorial title"></textarea>
      <button type="submit"> Create! </button>
    </form>
  </div>
</div>
