<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="icon" href="#"/>
  <title> CheatSS </title>
  <link rel="stylesheet" href="/public/css/style.css"/>
  <!-- make sure to add "/" before public or css won't work on all pages -->
  <link href='https://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300italic,300,400italic,600' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="safari_only">
  <div class="wrapper">
    {{{body}}}
  </div>
  <div class="sidebar">
    {{#each tutorials as |tutorial|}}
    <a href="/{{tutorial.title}}"> {{tutorial.title}}</p>
    {{/each}}
  </div>
  <script src="https://code.jquery.com/jquery-2.2.3.js"   integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="/public/js/script.js"></script>
</body>
</html
