<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="icon" href="#"/>
  <title> CheatSS </title>
  <link rel="stylesheet" href="public/css/style.css"/>
  <link href='https://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300italic,300,400italic,600' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="safari_only">
  <div class="wrapper">
    {{{body}}}
  </div>
  <div class="sidebar">
    <a href="radiobutton.html"> Radio Button </a>
    <a href="#"> Check Button </a>
    <a href="#"> Floats </a>
    <a href="#"> Positioning </a>
    {{#each tutorials as |tutorial|}}
    <a> {{tutorial.title}}</p>
    {{/each}}
  </div>
  <script src="http://code.jquery.com/jquery-2.2.3.min.js"
  integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="public/js/script.js"></script>
</body>
</html
