<div class="content center_login">
  <div class="sheet">
    <div class="form_container">
      <h3> Login </h3>
      {{#if errors}}

         {{#each errors}}
           <p class="error_message">{{this.msg}}</p>
         {{/each}}

      {{/if}}
      <form action = "/login" method = "post">
        <p class="label"> Username </p>
        <input type="text" name="username" placeholder = "Insert title">
        <p class="label"> Password </p>
        <input type="text" name="password" placeholder = "Embed code from Codepen">
        <button type="submit" class="signup"> Login </button>
      </form>
    </div>
  </div>
</div>
