<div class="content">
  <div class="sheet">
    <div class="form_container">
      <h3> Signup </h3>
      <form action = "/register" method = "post">
        <p class="label"> Username </p>
        <input type="text" name="username" placeholder = "Insert title">
        <p class="label"> Password </p>
        <input type="text" name="password" placeholder = "Embed code from Codepen">
        <button type="submit"> Create! </button>
      </form>
    </div>
  </div>
</div>
