<div class="content center_login">
  <div class="sheet">
    <div class="form_container">
      <h3> Signup </h3>
      {{#if errors}}

         {{#each errors}}
           <p class="error_message">{{this.msg}}</p>
         {{/each}}

      {{/if}}
      <form action = "/register" method = "post">
        <p class="label"> Username </p>
        <input type="text" name="username" placeholder = "Choose a username">
        <p class="label"> Password </p>
        <input type="password" name="password" placeholder = "Choose a password">
        <button type="submit" class="signup"> Signup </button>
      </form>
    </div>
  </div>
</div>
