{{#unless tutorial}}
  <div class="main_content">
    <div class="heading">
      <h2>Sorry, there is no such tutorial</h2>
    </div>
  </div>
{{else}}
<div class="content">
  <div class="sheet">
    <h3> {{tutorial.title}} </h3>
  </div>
</div>
{{/unless}}
