<div class="main_content">
  {{>_csscode}}
      <div class="heading">
        <h1>C<span class="cheat">heat</span>SS</h1>
        <h2> Save a developer with CSS</h2>

        {{#if user}}
        <p class="signin_text"> Welcome {{user.username}} !   <a href ="/logout" class="signin_link"> Logout </a></p>


        <a href="/form" class="main_button_link">
        <button class="main_button"> Create Tutorial </button></a>

        {{else}}
        <p class="signin_text"> <a href="/register" class="signin_link"> Sign up </a> or <a href="/login" class="signin_link"> login </a> to create a tutorial. </p>
        {{/if}}
      </div>
    </div>
