*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  appearance: none;
  border-radius: none;
}
.side_link {
  width: 100%;
  text-align: center;
  color: gray;
  font-family: arial;
  display: block;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif, arial;
  line-height: 40px;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
}

.side_link:hover, .active {
  color: white;
  background-color: #ff861c;
  /*-moz-box-shadow:    inset 0 0 10px #631400;
  -webkit-box-shadow: inset 0 0 10px #631400;
  box-shadow:         inset 0 0 10px #631400;*/
}

.footer {
  height: 40px;
  /*text-align: center;*/
  color: gray;
  font-family: 'Source Sans Pro', sans-serif, arial;
  background-color: #1d1f20;
  display: block;
  position: relative;
}

.footer>a{
  display: block;
  line-height: 40px;
  width: 100%;
  color: white;
  text-align: center;
  text-decoration: none;
  position: absolute;
  transition: background-color 0.5s ease;
}

.footer>a:hover{
  background-color: rgba(78,0,82,1);
}

body{
  background: rgba(78,0,82,1);
  background: -moz-linear-gradient(-45deg, rgba(78,0,82,1) 0%, rgba(207,31,151,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,0,82,1)), color-stop(100%, rgba(207,31,151,1)));
  background: -webkit-linear-gradient(-45deg, rgba(78,0,82,1) 0%, rgba(207,31,151,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(78,0,82,1) 0%, rgba(207,31,151,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(78,0,82,1) 0%, rgba(207,31,151,1) 100%);
  background: linear-gradient(135deg, rgba(78,0,82,1) 0%, rgba(207,31,151,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e0052', endColorstr='#cf1f97', GradientType=1 );
  background: url('../images/background_fallback.jpg') no-repeat center center fixed;
  background: url('../images/background.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper {
  width:100%;
  height: 100%;
  position:relative;
  clear: both;
  padding: 0;
  margin: 0;
}

.main_content {
  /* for centering text that goes inside .content */
  display:flex;
  align-items:center;
  justify-content:center;
  height: 100%;
  width: 100%;
  position: fixed;
  top:0px;
  margin-bottom: 0;

}

.content {
  width:100%;
  padding-left: 230px;
  box-sizing: border-box;
}
.sidebar {
  top: 0;
  left: 0;
  background: #3775e8;
  height: 100%;
  width: 230px;
  margin-right: 230px;
  position: fixed;
  background-color: white;
  -webkit-box-shadow: 7px 0px 13px 3px rgba(6,26,79,0.52);
  -moz-box-shadow: 7px 0px 13px 3px rgba(6,26,79,0.52);
  box-shadow: 7px 0px 13px 3px rgba(6,26,79,0.52);
  overflow-y: scroll;
}

.heading {
  padding-left: 230px;
  /* add padding-right to match, padding-left of content; */
  max-width: 1000px;
}

h1{
  color: white;
  font-size: 140px;
  font-family: arial;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  font-weight: 300;
  text-shadow: 2px 2px rgb(6,26,79);
}

.cheat {
  font-size: 90px;
}

h2 {
  margin-top: -15px;
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif, arial;
}

.codeAnimate{
  color: #53034f;
  font-size: 20px;
  position: absolute;
  z-index: -10;
  margin-left: -100px;
  /* Make text unselectable */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

/** main page button **/
.main_button_link{
  margin-top: 30px;
  display: block;
  text-align: center;
}

.main_button {
  margin: 0 auto;
  background-color: #ff861c;
  font-size: 30px;
  border-top: 1px solid white;
  border-bottom: 3px solid rgba(78,0,82,1);
  text-shadow: 1px 1px #de4900;

}

.main_button:hover {
  border-top: 1px solid #eda887;
  background-color: #de4900;
  border-bottom: 3px solid rgba(78,0,82,1);
}

/* CSS FOR SAFARI *******************/

_::-webkit-full-page-media, _:future, :root .safari_only {
  /*http://stackoverflow.com/questions/16348489/is-there-a-css-hack-for-safari-only-not-chrome*/
  background: rgba(78,0,82,1);
  background: -moz-linear-gradient(-45deg, rgba(78,0,82,1) 0%, rgba(207,31,151,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,0,82,1)), color-stop(100%, rgba(207,31,151,1)));
  background: -webkit-linear-gradient(-45deg, rgba(78,0,82,1) 0%, rgba(207,31,151,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(78,0,82,1) 0%, rgba(207,31,151,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(78,0,82,1) 0%, rgba(207,31,151,1) 100%);
  background: linear-gradient(135deg, rgba(78,0,82,1) 0%, rgba(207,31,151,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e0052', endColorstr='#cf1f97', GradientType=1 );
  background: url('../images/background_fallback.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

_::-webkit-full-page-media, _:future, :root .heading {
  margin-top: 15%;
}

_::-webkit-full-page-media, _:future, :root .codeAnimate {
  margin-left: -100px;
}

/* CSS for firefox ******************/
@-moz-document url-prefix() {
  .codeAnimate {
    margin-top: -300px;
    margin-left: -100px;
  }
}

/****************** STYLING FOR EACH SHEET OF PAPER *****************/

.sheet {
  margin: 30px auto;
  width: 800px;
  padding-bottom: 30px;
  -webkit-box-shadow: 3px 0px 16px 3px rgba(6,26,79,0.52);
  -moz-box-shadow: 3px 0px 16px 3px rgba(6,26,79,0.52);
  box-shadow: 3px 0px 16px 3px rgba(6,26,79,0.52);
  background-color: #fafaf2;
  background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=fafaf2ff&noise=c9b49e&density=40&opacity=14');
}

h3 {
  padding-top: 20px;
  text-align: center;
  font-size: 65px;
  color: #1d1f20;
  font-family: 'Source Sans Pro', sans-serif, arial;
}

.show_sheet_container {
  padding: 30px;
}

.tutorial_comment {
  color: black;
  font-size: 20px;
  line-height: 1.4;
  font-family: 'Source Sans Pro', sans-serif, arial;
  margin-bottom: 20px;
  margin-top: -20px;
}

.codebox {
  background-color: #1d1f20;
  width: 100%;
  margin-bottom: 20px;
  color: #e2e2e2;
  padding: 20px;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  overflow-x: scroll;
  line-height: 1.4;
}

.label_show {
  color: white;
  padding: 5px;
  padding-left: 10px;
  margin-top: 20px;
  font-family: 'Source Sans Pro', sans-serif, arial;
  font-size: 23px;
  font-weight: 400;
  background: rgba(255,134,28,1);
  background: -moz-linear-gradient(left, rgba(255,134,28,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,134,28,1)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(left, rgba(255,134,28,1) 0%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(left, rgba(255,134,28,1) 0%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(left, rgba(255,134,28,1) 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to right, rgba(255,134,28,1) 0%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff861c', endColorstr='#ffffff', GradientType=1 );
}

.codepen_cover {
  width: 100%;
  height: 50px;
  background-color: #fafaf2;
  background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=fafaf2ff&noise=c9b49e&density=40&opacity=14');
  margin-bottom: -50px;
  z-index: 100;
  position: relative;
}

.live_demo {
  margin-bottom: -50px;
  z-index: 1000;
  position: relative;
}
/***************** STYLING FOR CODE ************/
#quote {
  color: rgba(207,31,151,1);
}

#comment {
  color: #454545;
}

#codebracket {
  color: #bc00e4;
}

#class {
  color:#33c9db;
}

#white {
  color: #e2e2e2;
}

/************** STYLING FOR FORM ****************/

.form_container {
  padding-left: 30px;
  padding-right: 40px;
}

input[type="text"]{
  font-family: 'Source Sans Pro', sans-serif, arial;
  font-size: 20px;
  width: 100%;
  background-color: rgba(0,0,0,0);
  border: none;
  padding: 5px;
}

.description{
  width: 100%;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif, arial;
  height: 150px;
}

textarea {
  padding: 5px;
  width: 100%;
  font-size: 16px;
  height: 150px;
  font-family: monospace;
  white-space: pre;
  border: none;
  background-color: rgba(0,0,0,0);
  resize: none;
}

/* remove blue outline from active text-field in chrome */
textarea:focus, input:focus{
    outline: none;
}

/* remove resizer button from text area */
::-webkit-resizer{
  display: none;
}

/* Change color of placeholder */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #C1C1C1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #C1C1C1;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #C1C1C1;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #C1C1C1;
}

.label {
    color: white;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: 'Source Sans Pro', sans-serif, arial;
    font-size: 23px;
    font-weight: 400;
    background: rgba(255,134,28,1);
    background: -moz-linear-gradient(left, rgba(255,134,28,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,134,28,1)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,134,28,1) 0%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,134,28,1) 0%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,134,28,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,134,28,1) 0%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff861c', endColorstr='#ffffff', GradientType=1 );
}

button {
  background-color: rgba(207,31,151,1);
  font-size: 23px;
  color: white;
  border: none;
  font-family: 'Source Sans Pro', sans-serif, arial;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 2px solid rgba(78,0,82,1);
  transition: background-color 0.5s ease;
}

button:hover {
  border-bottom: 2px solid black;
  background-color:rgba(78,0,82,1);
  cursor: pointer;
}

.delete_button {
  float: left;
  margin-top: -51px;
  margin-left: 160px;
}

textarea {
  white-space: pre-wrap;
}
